.lefts{
    float: left;
    width: 198px;
    //text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
    ul{
        li{
            border-left: 2px solid transparent;
            padding: 12px 0 12px 10px;
            position: relative;
            &:after{
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -3px;
                border: 1px solid #333;
                border-bottom:none;
                border-left: none;
                border-left: none;
                transform: rotate(45deg);
            }
            &.active{
                background: #dddddd;
                border-left: 2px solid #1b65ce;
                color: #1b65ce;
            }
        }
    }
}